

.feeds{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 650px));
    gap: 2rem;
    margin: 2rem 0;
    justify-content: center;

    .f-title{
        grid-column: 1 / -1;
        justify-content: center;
        align-items: center;
        text-align: center;

        hr{
            width: 5rem;
            margin: 1rem auto 1rem auto;
            border: 1px solid #F2561D;

        }
    }



.f-container{ 
        border: 1px solid #E2E2E2;
        border-radius: .5rem;

    figure{
            max-height: 220px;
            overflow: hidden;
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
            position: relative;

            img{
                width: 100%;
            }

            figcaption{
                position: absolute;
                bottom: 0;
                background-color: rgba(0,0,0,.7);
                width: 100%;

                h3{
                    color: white;
                    padding: .75rem;
                    font-size: 1.25rem;
                }
            }
        }

        p{
            font-size: 1rem;
            line-height: 1.5;
            padding: 1rem .75rem;
            color: #666666;
            text-align: justify;
        }

        .f-link{
            background-color: #F2561D;
            color: white;
            border-radius: .25rem;
            text-align: center;
            display: inline-block;
            transition: all 0.3s;
            padding: .5rem 1rem;
            margin: .5rem;
        }
    }

}







@media screen and (max-width: 1563px){

    .feeds{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
        gap: 2rem;
        margin: 2rem 0;
        justify-content: center;

        .f-title{
            grid-column: 1 / -1;
            justify-content: center;
            align-items: center;
            text-align: center;

            hr{
                width: 5rem;
                margin: 1rem auto 1rem auto;
                border: 1px solid #F2561D;

            }
        }



    .f-container{ 
            border: 1px solid #E2E2E2;
            border-radius: .5rem;

        figure{
                max-height: 220px;
                overflow: hidden;
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
                position: relative;

                img{
                    width: 100%;
                }

                figcaption{
                    position: absolute;
                    bottom: 0;
                    background-color: rgba(0,0,0,.7);
                    width: 100%;

                    h3{
                        color: white;
                        padding: .75rem;
                        font-size: 1.25rem;
                    }
                }
            }

            p{
                font-size: 1rem;
                line-height: 1.5;
                padding: 1rem .75rem;
                color: #666666;
                text-align: justify;
            }

            .f-link{
                background-color: #F2561D;
                color: white;
                border-radius: .25rem;
                text-align: center;
                display: inline-block;
                transition: all 0.3s;
                padding: .5rem 1rem;
                margin: .5rem;
            }
        }

    }
}