$orangeConnect: #F2561D; 


header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    align-items: center;

    font-family: 'Montserrat', sans-serif;

    .logo {
        width: 150px;
    }

    .toggle-btn{
        display: none;
    }

    .face-icon-link{
        display: none;
    }

    .insta-icon-link{
        display: none;
    }

    @media screen and (max-width: 800px){

        nav {
            display: none;
            transition: all ease 0.3s 0s;
        }

        .toggle{
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            top: 75px;
            margin: 0;
            right: 0;
            order: 3;
            background-color: #ffffff;
            width: 70%;
            height: 92vh;

            .links {
                padding: 25px 0;
                font-size: 20px;
                text-align: end;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
            }

            .link:hover, .links:focus{
                border-bottom: 1px solid rgba($orangeConnect, $alpha: 1);
            }

            
        }

        .button {
            display: none;
        }

        .button-mobile{
            display: block;
            // order: 6;
            // position: absolute;
            // z-index: 1;
            // margin: 0;
            // top: 89vh;
            // right: 20px;
        }

        .toggle-btn{
            display: block;
            background-color: $orangeConnect;
            padding: 8px 13px;
            border-radius: 40px;
            border: 1px solid $orangeConnect;
            font-size: 16px;
            color: #ffffff;
            margin: auto 0;
            transition: all ease 0.3s 0s;
        }

        .toggle-btn:hover{
            background-color: rgba($color: white, $alpha: 1.0);
            border: 1px solid $orangeConnect;
            color: black;
        }

        // social media icons
        .face-icon-link{
            display: none;
            order: 5;
            font-size: 40px;
            color: #3b5998 ;
        }

        .face-toggle{
            display: block;
            position: absolute;
            z-index: 1;
            margin: 0;
            top: 88.5vh;
            right: 33%;
        }

        .insta-icon-link{
            display: none;
            order: 4;
            font-size: 40px;
            color: #fb3958 ;
        }

        .insta-toggle{
            display: block;
            position: absolute;
            z-index: 1;
            margin: 0;
            top: 88.5vh;
            right: 53%;
        }

    
    }

    nav {

        .links{
            margin: 0 30px;
            transition: all ease 0.3s 0s;
        }

        .links:hover{
            color: $orangeConnect;
        }
    }
    
    .button{
        padding: 10px 15px;
        border-radius: 40px;
        border: 1px solid $orangeConnect;
        background-color: rgba(242, 86, 29, 1);
        font-size: 14px;
        color: white;
        transition: all ease 0.3s 0s;
    }

    .button:hover{
        background-color: rgba($color: white, $alpha: 1.0);
        border: 1px solid $orangeConnect;
        color: black;
    }

 
}