body {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
    
    background-color: #f1f1f1;
}

html{
    font-family: 'Montserrat', sans-serif;
}

a, li {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}